@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  background-color: #fbf9f6;
  color: #4a4238;
}
